.home-layout {
	display: grid;
	grid-template-columns: 1.8fr 1fr;
	gap: 60px;
	align-items: start;
}

.column-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.net-worth-card {
	text-align: center;
	background: #ffe3e3;
}

.total-balance-display {
	font-size: 40px;
	font-weight: 800;
	margin: 10px 0;
}

.app-container {
	max-width: 1700px;
	margin: 0 auto;
	padding: 20px;
}

.overview-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
	align-items: start;
	width: 100%;
	margin-top: 20px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.glass-card {
	background: rgba(255, 255, 255, 0.1);
	backdrop-filter: blur(15px);
	border: 1px solid rgba(255, 255, 255, 0.2);
	border-radius: 30px;
	padding: 25px;
}

.right-side {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.right-side img {
	width: 100% ;
	height: auto;
	border-radius: 30px;
	margin-bottom: 20px;
}

.title-homepage {
	font-size: 30px;
}

.overview-page-container {
	width: 1800px;
	margin: 0 auto;
	padding-top: 20px;
}